<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>NEWSFLASH</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Newsflash - the visual news tracker">
<meta name="author" content="James Drury">

<link href="assets/css/bootstrap.css" rel="stylesheet">
<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
<link href="assets/css/extension.css" rel="stylesheet">
<link href="assets/css/typography.css" rel="stylesheet">
<link href="assets/css/font-awesome.min.css" rel="stylesheet">
<link href="stylesheets/jquery.fancybox.css" rel="stylesheet" type="text/css" media="screen" />
<link href="stylesheets/soundcloud/sc-player-minimal.css" rel="stylesheet" type="text/css" />
<link href="stylesheets/jquery.tweet.css" rel="stylesheet"/>
<link href="stylesheets/responsive-nav.css" rel="stylesheet">
<link href="stylesheets/styles.css" rel="stylesheet" type="text/css" media="screen" />
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>


<body>

<!-- Preloader -->
<div id="preloader">
  <div id="status">&nbsp;</div>
</div>


<!-- Mobile Only Navigation - 2 types each for (480px to 640px) and (640px to 960px) wide device screens -->
<header id="mobile-header" class="clearfix hidden-desktop">
    <div id="nav">
      <ul>
        <li><a href="#filter=.welcome">Newsflash</a></li>
        <li><a href="#filter=.trending">Trending</a></li>
        <li><a href="#filter=.keywords">Keywords</a></li>
        <li><a href="#filter=.about">About</a></li>
      </ul>
    </div>
</header>

<header id="wrapper">

    <div id="options" class="clearfix visible-desktop">
      <ul id="filters" class="option-set clearfix" data-option-key="filter">
        <li><a class="reveal-bg-one selected" href="#filter=.home">Newsflash</a></li>
        <li><a class="reveal-bg-two" href="#filter=.trending">Trending</a></li>
        <li><a class="reveal-bg-three" href="#filter=.articles">Articles</a></li>
        <li><a class="reveal-bg-six" href="#filter=.keywords">Keywords</a></li>
        <li><a class="reveal-bg-four" href="#filter=.about">About</a></li>
      </ul>
    </div>

</header>

<section class="container">
  <section id="container" class="clearfix">


    <article class="element fx-slide-up home clearfix one-full welcome">
      <div class="one-third reveal-bg-one">
        <div class="thumb pad pad-bottom-minus"><img alt="reveal" title="reveal" src="images/home.png"/></div>
        <h2 class="welcome-heading pad pad-top-minus pad-bottom-minus"><span>Hi,</span>I'm Newsflash</h2>
        <br>
        <p class="pad pad-top-minus pad-bottom-minus">The visual news tracker</p>
        <br>
        <div class="pad pad-top-minus">
        <a class="btn btn-reveal add-top-half" href="#filter=.trending">Get news <i class="fa fa-bolt"></i></a>
        </div>
      </div>
      <div class="two-third overflow">
        <div class="banner-canvas">
          <div class="banner-feed">
            <br><br><br><br><br><br><br>
            <div><span id="article-counter"><%= masterlist.children.length %></span> articles</div>
            <br>
            <div><span id="entity-counter"><%= masterlist.watchEntities.length %></span> keywords</div><br>
            <div><span id="tweet-counter">0</span> tweets</div>
            <br>
          </div>
        <div class="images"><img src="images/content/01.jpg" alt="" /></div>
          <!-- this needs to be refactored -->
      </div>
    </article>


    <article class="element clearfix home one-full">
      <div class="reveal-bg-two">
        <h2 class="pad">Defined by The New York Times<br>
          <span style="margin-left: 40px">Driven by Twitter<span><br>
          <span style="margin-left: 80px">Displayed with D3.js</span>
      </h2>
      </div>
    </article>


    <article class="element clearfix home one-full trending">
      <div class="reveal-bg-nine">
        <div id="trending">
          <!-- insert treemap here -->
        </div>
      </div>
    </article>


    <article class="element clearfix home one-full trending articles keywords">
      <div class="reveal-bg-three">
        <h2 class="pad">Tracking <%= masterlist.watchEntities.length %> keywords across <%= masterlist.children.length %> articles</h2>
      </div>
    </article>


    <% masterlist.children.forEach(function(article, i) { %>
      <% var color = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine','one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine'] %>
      <% article.children.forEach(function(entity) { %>
        <article class="element fx-slide-up home clearfix one-third keywords">
          <div class="images"><img src="images/content/07-nyt.jpg" alt="" /></div>

          <div class="content-bottom content-bottom-alt reveal-bg-<%= color[i] %>">
            <div class="thumb pad pad-bottom-minus">
              <h2 class="pad pad-top-minus pad-bottom-minus">"<%= entity.name %>"</h2>
            </div>
            <p class="pad" id="hashtags">
              <% if (entity.children.length > 0) { %>
                <%= entity.children[0].name %> is popular.
              <% } %>
            </p>
            <p class="pad"></p>
            <h6 style="color:white" class="pad article-link">SOURCE:<br><a target="_blank" href="<%= article.url %>">"<%= article.headline %>"</a><h6>
          </div>
        </article>
      <% }) %>
    <% }) %>


    <% masterlist.children.forEach(function(article,i) { %>
      <% var color = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine','one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine'] %>
      <article class="element clearfix one-full articles">
        <div class="reveal-bg-<%= color[i] %>">
          <h2 class="pad pad-bottom-minus">"<%= article.headline %>"<span id="article-link"><a target="_blank" href="<%= article.url %>"><i style="float: right" class="fa fa-link"></i></a></span></h2>
          <h4 class="pad pad-top-minus"><%= article.abstract %></h4>
        </div>
      </article>
    <% }) %>

    <article class="element clearfix home one-full about">
      <div class="reveal-bg-four">
        <h2 class="pad">Defined by professionals, appraised by the masses</h2>
      </div>
    </article>


    <article class="element fx-slide-up clearfix home one-third about">
      <div class="images"><img src="images/content/nyt_stock_small.png" alt="New York Times building" /></div>
      <div class="content-bottom content-bottom-alt reveal-bg-three">
        <div class="thumb pad pad-bottom-minus"><img alt='Newsflash defines news with The New York Times Breaking News API.' title="The New York Times Breaking News API" src="images/contact/02.png"/></div>
        <h2 class="pad pad-top-minus pad-bottom-minus">The NY Times</h2>
        <br>
        <p class="pad pad-top-minus">Newsflash calls <em>The New York Times</em> newswire every 10 minutes to get the latest news. <br/><br/>New stories are added to the tracker, unpopular stories are removed.</p>
      </div>
    </article>


    <article class="element fx-slide-up clearfix home one-third about">
      <div class="images"><img src="images/content/alchemy_stock_small.png" alt="AlchemyAPI logo" style="border: 1px" /></div>
      <div class="content-bottom content-bottom-alt reveal-bg-one">
        <div class="thumb pad pad-bottom-minus"><img alt="AlchemyAPI's artificial intelligence helps Newsflash extract meaning from the NYT headlines" title="AlchemyAPI" src="images/services/01.png"/></div>
        <h2 class="pad pad-top-minus pad-bottom-minus">AlchemyAPI</h2>
        <br>
        <p class="pad pad-top-minus">AlchemyAPI's artificial intelligence helps Newsflash extract meaning from the NYT headlines. <br/><br/>Each headline yields 2-3 keywords. Keywords are topics that people are talking about.</p>
      </div>
    </article>


    <article class="element fx-slide-up clearfix home one-third about">
      <div class="images"><img src="images/content/twitter_stock_small.png" alt="@twitter feed" /></div>
      <div class="content-bottom content-bottom-alt reveal-bg-two">
        <div class="thumb pad pad-bottom-minus"><img alt="Once Newsflash has received all of the keywords, it inserts them into the Twitter stream." title="Twitter stream" src="images/contact/03.png"/></div>
        <h2 class="pad pad-top-minus pad-bottom-minus">Twitter Stream</h2>
        <br>
        <p class="pad pad-top-minus">Once Newsflash has received all of the keywords, it inserts them into the Twitter stream. <br/><br/>When a tweet mentions a keyword, Newsflash saves the tweet's hashtags. Each keyword is represented on a D3 treemap with the four most popular hashtags.</p>
      </div>
    </article>
  </section>
</section>


<footer id="mastfoot">
  <section class="container-fluid">
    <div class="row-fluid">
          <article class="span6 mob-center">
            <br>
            <h2 style="margin-left: 20px">Newsflash</h2>
            <p class="slogan">The visual news tracker</p>
          </article>
          <article class="span6 text-right">
            <ul id="foot-icons" class="clearfix">
              <li><a href="http://www.jdrur.com" target="_blank"><img title="Personal Blog" alt="Personal Blog" src="images/social/footer_post.png"/></a></li>
              <li><a href="http://www.linkedin.com/in/jdrury86/" target="_blank"><img title="LinkedIn Account" alt="LinkedIn Account" src="images/social/footer_linkedin.png"/></a></li>
              <li><a href="https://github.com/jamesdrury/newsflash" target="_blank"><img title="Github Account" alt="Github Account" src="images/social/footer_github.png"/></a></li>
            </ul>
            <p class="copyright"><a href="http://www.fullstackacademy.com">Forged at Fullstack</a></a></p>
          </article>
    </div>
  </section>
</footer>


<script src="/socket.io/socket.io.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.4/d3.min.js"></script>
<script src="javascripts/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="javascripts/jquery.easing.1.3.js" type="text/javascript"></script>
<script src="javascripts/modernizr.js" type="text/javascript"></script>
<script src="assets/js/bootstrap-transition.js" ></script>
<script src="assets/js/bootstrap-alert.js" ></script>
<script src="assets/js/bootstrap-modal.js" ></script>
<script src="assets/js/bootstrap-dropdown.js" ></script>
<script src="assets/js/bootstrap-scrollspy.js" ></script>
<script src="assets/js/bootstrap-tab.js" ></script>
<script src="assets/js/bootstrap-tooltip.js" ></script>
<script src="assets/js/bootstrap-popover.js" ></script>
<script src="assets/js/bootstrap-button.js" ></script>
<script src="assets/js/bootstrap-collapse.js" ></script>
<script src="assets/js/bootstrap-carousel.js" ></script>
<script src="assets/js/bootstrap-typeahead.js" ></script>
<script src="assets/js/bootstrap-affix.js" ></script>

<script src="javascripts/jquery.ba-bbq.min.js" type="text/javascript"></script>
<script defer src="javascripts/jquery.flexslider.js"></script>
<script src="javascripts/jquery.isotope.min.js" type="text/javascript"></script>
<script src="javascripts/jquery.isotope.loader.js" type="text/javascript"></script>
<script src="javascripts/jquery.fancybox.pack.js" type="text/javascript"></script>
<script src="javascripts/scrollup.js" type="text/javascript"></script>
<script src="javascripts/responsive-nav.js" type="text/javascript"></script>
<script src="javascripts/preloader.js" type="text/javascript"></script>
<script src="javascripts/jquery.tweet.js" type="text/javascript"></script>
<script src="javascripts/form-validation.js"></script>
<script src="javascripts/jquery.fitvids.js"></script>
<script src="javascripts/soundcloud.player.api.js"></script>
<script src="javascripts/sc-player.js"></script>
<script src="javascripts/script.js" type="text/javascript"></script>


<script>
var socket = io.connect();

var containerWidth = $('.container').width();
var containerHeight = $(window).height();

var margin = {top: 10, right: 10, bottom: 10, left: 10},
    width = containerWidth - 42,
    height = containerHeight - (containerHeight * .20);

var color = d3.scale.category20c();

var treemap = d3.layout.treemap()
  .size([width, height])
  .sticky(false)
  .value(function(d) { return d.size; });

var div = d3.select("#trending").append("div")
  .style("position", "relative")
  .style("width", (width + margin.left + margin.right) + "px")
  .style("height", (height + margin.top + margin.bottom) + "px")
  .style("left", margin.left + "px")
  .style("top", margin.top + "px");

function descendingOrder(a,b) {
  if (a.size < b.size) {
    return 1;
  }
  if (a.size > b.size) {
    return -1;
  }
  return 0;
}

var root;
var now;
var startTime = new Date();

socket.on('update', function(stream) {
  masterlist = stream.masterlist;
  console.log('tweets')

  now = new Date();

  // if less than 2 seconds have elapsed, do nothing
  if( (now - startTime) < 2000 ) {
    return;
  }

  startTime = new Date();

  // update banner
  $('#tweet-counter').text(masterlist.size);

  div.datum(root).selectAll(".node").remove();

  root = masterlist;

  var node = div.datum(root).selectAll(".node")
      .data(treemap.nodes)
    .enter().append("div")
      .attr("class", "node")
      .call(position)
      .style("background", function(d) { return d.children ? color(d.name) : null; })
      .text(function(d) { return d.children ? null : d.name; });

  d3.selectAll("input").on("change", function change() {
    var value = this.value === "count"
        ? function() { return 1; }
        : function(d) { return d.size; };

    node
        .data(treemap.value(value).nodes)
      .transition()
        .duration(1500)
        .call(position);
  });
});

function position() {
this.style("left", function(d) { return d.x + "px"; })
    .style("top", function(d) { return d.y + "px"; })
    .style("width", function(d) { return Math.max(0, d.dx - 1) + "px"; })
    .style("height", function(d) { return Math.max(0, d.dy - 1) + "px"; });
};
</script>


<script>
  var navigation = responsiveNav("#nav", { // Selector: The ID of the wrapper
    animate: true, // Boolean: Use CSS3 transitions, true or false
    transition: 400, // Integer: Speed of the transition, in milliseconds
    label: "Menu", // String: Label for the navigation toggle
    insert: "after", // String: Insert the toggle before or after the navigation
    customToggle: "", // Selector: Specify the ID of a custom toggle
    openPos: "relative", // String: Position of the opened nav, relative or static
    jsClass: "js", // String: 'JS enabled' class which is added to <html> el
    init: function(){}, // Function: Init callback
    open: function(){}, // Function: Open callback
    close: function(){} // Function: Close callback
  });
</script>


</body>
</html>